# Maven build
target/

# IDE
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

src/main/webapp/uploads/posters/*
src/main/webapp/uploads/avatars/*

!src/main/webapp/uploads/posters/.gitkeep
!src/main/webapp/uploads/avatars/.gitkeep