.nav-item .nav-link:hover {
  color: #19d65d !important;

  text-shadow: 0 0 5px rgba(25, 214, 93, 0.7), 0 0 10px rgba(25, 214, 93, 0.5);

  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.d-flex form input.form-control:hover {
  color: #19d65d;
}

.d-flex form input.form-control:hover::placeholder {
  color: #19d65d;
}

.d-flex form input.form-control:focus {
  color: white;
  border-color: #19d65d;
  box-shadow: none;
  box-shadow: 0 0 0 0.25rem rgba(25, 214, 93, 0.25);
  text-shadow: 0 0 5px rgba(25, 214, 93, 0.5);
}

.d-flex form input.form-control:focus::placeholder {
  color: white;
}

.d-flex form input.form-control {
  transition: all 0.3s ease;
}
