body, html {
    height: 100%;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), /* lớp phủ mờ */
    url('../images/baner1.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.forgotPassword-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
}
.forgotPassword-card {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(241, 175, 52, 0.4);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}
.forgotPassword-title {
    text-align: center;
    margin-bottom: 30px;
    color: #ffc107;
    font-weight: 700;
    font-size: 1.8rem;
}
.form-control {
    border-radius: 50px;
    padding: 12px 20px;
    background-color: #a5aeb608;
    border: 1px solid #837a7a;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    color: #ffffff;
}
.form-control::placeholder {
    color: #e7d8ab;
    opacity: 1;
}
.form-control:focus {
    border-color: #ffc107;
    box-shadow: 0 0 0 0.2rem rgba(106, 17, 203, 0.25);
    background-color: #ffffff1a;
    color: #ffffff;
}
.input-group-text {
    border-radius: 0 50px 50px 0;
    background-color: #a5aeb608;
    border: none;
    border-right: none;
    color: #e7d8ab;
}

.btn-retrieve {
    border-radius: 5px !important;
    padding: 9px;
    font-weight: 600;
    background: linear-gradient(135deg, #ffc107 0%, #ddc083 100%) !important;
    border: none;
    transition: all 0.3s ease;
    color: black;
}
.btn-retrieve:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(241, 175, 52, 0.4);
}